html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

ul{
    padding: 0;
    list-style: none;
}

.playlist{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    overflow-y: scroll;
    list-style: none;
}

nav{
    display: inline-block;
    width: 20vw;
    float: left;
}

.playlist-li{
    border-bottom: 1px solid #000;
    height: 5vw;
}
.list-img{
    float: left;
    height: 100%;
}
.list-img:hover{
    filter: blur(3px);
    cursor: pointer;
}

.list-title{
    font-size: 1rem;
    float: left;
    display: flex;
    padding-left: 2%;
    justify-content: center;
    flex-direction: column;
    width: 68%;
    height: 100%;
}

#playlist-info{
    display: inline-block;
    float: left;
    width: 55vw;
    height: 100vh;
    border-right: 1px solid #000;
}
h1{
    display: inline-block;
    width: 30vw;
    padding: 3%;
    margin: 0;
    font-size: 3vw;
}

#playlist-cover{
    width: 15vw;
    float: left;
}

#playlist-description{
    display: inline-block;
    width: 35vw;
    padding: 3%;
}
button{
    width: 8vw;
    height: 3vw;
    font-size: 1vw;
    margin: 0 2%;
}

table{
    width: 55vw
}

td{
    height: 3vw;
}
.songlist-li{
    font-size: 0;
}
.songlist-li > span{
    display: inline-block;
    text-align: center;
    font-size: 1vw;
    padding: 0.4vw 0;
}
.songlist-li > .song-number{
    min-width: 5vw;
}
.songlist-li > .song-title{
    min-width: 15vw;
}
.songlist-li > .song-time{
    min-width: 8vw;
}

.songlist-li > .song-artist{
    min-width: 10vw;
}
.songlist-li > .song-album{
    min-width: 17vw;
}

#song-info{
    float: left;
    display: inline-block;
    height: 100vh;
    width: 24vw;
}